.header {
  background: #0d1128;
  padding: 12px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: orange;
}
.nav-NavLink-left {
  margin-left: 400px;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}
.header-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
}
